div(style = "display: none")
    .successful.modal-dialog.center
        img(src='img/successfull.png', alt='')
        p(ng-bind-html = "instance.message | trust")
        .col-12.suc_modal
            input.typical_btn(type="submit" value="ะะบ", ng-click = "close()")
